<div class="bg-[#1E1E1E] h-full">
  <app-header></app-header>
  <div class="px-[8%]">
    <h3 class="my-10 flex gap-x-[14px] items-center">
      <a routerLink="/devices" class="text-sm text-[#FFFFFF80]">Devices</a>
      <svg
        width="5"
        height="8"
        viewBox="0 0 5 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.67187 3.97917L0.401041 0.708333C0.328124 0.635417 0.290798 0.544271 0.289062 0.434896C0.287326 0.325521 0.324652 0.230903 0.401041 0.151042C0.47743 0.0711806 0.57118 0.03125 0.682291 0.03125C0.793402 0.03125 0.888888 0.0711806 0.96875 0.151042L4.38542 3.5625C4.44444 3.62153 4.48698 3.68663 4.51302 3.75781C4.53906 3.82899 4.55208 3.90278 4.55208 3.97917C4.55208 4.05556 4.53906 4.12934 4.51302 4.20052C4.48698 4.2717 4.44444 4.33681 4.38542 4.39583L0.963541 7.81771C0.88368 7.89757 0.789062 7.93576 0.679687 7.93229C0.570312 7.92882 0.47743 7.88715 0.401041 7.80729C0.324652 7.7309 0.28559 7.63889 0.283854 7.53125C0.282118 7.42361 0.32118 7.32986 0.401041 7.25L3.67187 3.97917Z"
          fill="white"
          fill-opacity="0.5"
        />
      </svg>
      <span class="text-sm font-semibold text-white">{{
        this.data.deviceName
      }}</span>
    </h3>
    <div class="flex gap-x-16 gap-y-8.5 flex-wrap">
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Name</p>
        <p class="text-lg text-white font-medium">{{ data.deviceName }}</p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Status</p>
        <div class="flex gap-x-2">
          <p
            class="text-xs h-5 px-1 rounded-sm"
            [class]="
              data.status == 'Online'
                ? 'text-[#00A44B] bg-[#00A44B33]'
                : 'text-[#DD2D24] bg-[#DD2D2433]'
            "
          >
            {{ data.status }}
          </p>
          <p class="text-xs bg-[#26A2E933] text-[#26A2E9] h-5 px-1 rounded-sm">
            Deployed
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">USB</p>
        <p
          class="text-xs h-5 px-1 rounded-sm"
          [class]="
            data.usb.status == 'Connected'
              ? 'text-[#00A44B] bg-[#00A44B33]'
              : 'text-[#DD2D24] bg-[#DD2D2433]'
          "
        >
          {{ data.usb.status }}
        </p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Store</p>
        <p class="text-lg text-white font-medium">{{ data.storeName }}</p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">FMCG</p>
        <p class="text-lg text-white font-medium">{{ data.fmcg }}</p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">User</p>
        <p class="text-lg text-white font-medium">{{ data.user }}</p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Location</p>
        <p class="text-lg text-white font-medium">
          {{ data.location.city }}, {{ data.location.state }}
        </p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Battery Temperature</p>
        <p class="text-lg text-white font-medium">
          {{ data.hw_data.battery.temperature }}
        </p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Battery</p>
        <p class="text-lg text-white font-medium">
          {{ data.hw_data.battery.percentage }}
        </p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-sm text-[#FFFFFFBF] font-medium">Network</p>
        <p class="text-lg text-white font-medium">
          {{ data.hw_data.sim.operator }}
        </p>
      </div>
    </div>
    <div class="graph-details mt-10">
      <div class="tabs flex gap-x-4 border-b border-[#FFFFFF2D]">
        <button
          class="pb-3.5 px-2 text-sm text-white font-semibold"
          [class]="tab == 'analytics' ? 'border-b border-[#26A2E9]' : ''"
          (click)="changetab('analytics')"
        >
          Analytics
        </button>
      </div>
      @if(tab==='analytics'){
      <div>
        <div class="flex">
          <div class="ml-auto mt-4 justify-end">
            <!-- <input
              type="date"
              [value]="{date}"
              class="outline-0 focus:outline-0"
            /> -->
            <div class="relative w-fit">
              <!-- Custom Datepicker Button -->
              <button
                class="flex items-center z-10 gap-2 bg-[#1E1E1E] text-white py-2 px-4 rounded-xl border border-[#FFFFFF2D]"
                (click)="dateInput.showPicker()"
              >
                <svg
                  width="15"
                  height="14"
                  viewBox="0 0 15 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_1_33"
                    style="mask-type: alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="15"
                    height="14"
                  >
                    <rect x="0.5" width="14" height="14" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_1_33)">
                    <path
                      d="M3.15397 12.7603C2.93065 12.7603 2.73509 12.6763 2.56728 12.5084C2.39938 12.3406 2.31543 12.145 2.31543 11.9217V2.9384C2.31543 2.71508 2.39938 2.51951 2.56728 2.35171C2.73509 2.18381 2.93065 2.09985 3.15397 2.09985H4.13835V1.66965C4.13835 1.54792 4.18185 1.44336 4.26887 1.35596C4.35588 1.26855 4.46185 1.22485 4.58678 1.22485C4.7158 1.22485 4.82522 1.26855 4.91506 1.35596C5.00489 1.44336 5.0498 1.54792 5.0498 1.66965V2.09985H9.94981V1.66965C9.94981 1.54792 9.99331 1.44336 10.0803 1.35596C10.1673 1.26855 10.2733 1.22485 10.3982 1.22485C10.5274 1.22485 10.6368 1.26855 10.7265 1.35596C10.8163 1.44336 10.8613 1.54792 10.8613 1.66965V2.09985H11.8456C12.069 2.09985 12.2645 2.18381 12.4323 2.35171C12.6002 2.51951 12.6842 2.71508 12.6842 2.9384V11.9217C12.6842 12.145 12.6002 12.3406 12.4323 12.5084C12.2645 12.6763 12.069 12.7603 11.8456 12.7603H3.15397ZM3.15397 11.9217H11.8456V5.70194H3.15397V11.9217ZM3.15397 4.8634H11.8456V2.9384H3.15397V4.8634Z"
                      fill="white"
                    />
                  </g>
                </svg>
                <span class="text-sm/4 font-medium">{{ selectedDate }}</span>
              </button>

              <!-- Hidden Native Date Input -->
              <input
                type="date"
                #dateInput
                id="dateInput"
                class="absolute top-7 left-0 opacity-0 w-full h-full cursor-pointer"
                (change)="onDateChange($event)"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-between my-4">
          <div class="w-3/4 border border-[#FFFFFF2B] rounded-xl px-6 py-6">
            <app-chart></app-chart>
          </div>
          <div class="w-[24%] border border-[#FFFFFF2B] rounded-xl px-6 py-6">
            <app-engagement-metrics
              label1="Engagement Rate"
              label2="Pre-Engagement Rate"
              label3="Total Footfalls"
            ></app-engagement-metrics>
            <!-- <app-pie-chart></app-pie-chart> -->
          </div>
        </div>
        <div class="border border-[#FFFFFF2B] rounded-2xl px-6 py-8">
          <app-uptime></app-uptime>
        </div>
      </div>
      }
    </div>
  </div>
</div>
